/*Default styling*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family:Verdana, Arial, sans-serif; 
    background-color:white; 
    margin: 0px;
    min-width: 800px;
    height: 100%;
    width: 100vw;
}
/*==================== CONFIGURING DIV'S ======================*/
/* body (1) => Header */
header {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    
}
.nav_bar {
    height: 100%;
    width: 100%;
    text-align: left;
    list-style: none;
    background-color:#259ce0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
/* body (2) => Main */
main {
    min-width:800px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
/* body (2) => Main => Wrapper => (1) index.html */
.main_wrapper_index {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 0px 0px 0px;
    /* padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
}
.main_wrapper_cinemas {
    width: 100%;
    height: 100%;
    display: flex;
}

/* body (2) => Main => Wrapper => (2) movies.html */
.main_wrapper_movies {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.movie_poster {
    width: 30%;
    height: 40%;
    /* background-color: red; */
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */
}
.movie_poster img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* body (2) => Main => Wrapper => (3) cinemas.html */
.main_wrapper_cinemas {
    height: 100vh;
}
/*=============== END OF body (2) => Main => Wrapper => (2) movies.html =======================*/

/* body (2) => Main => Wrapper => (3) showtimings.php */
.main_wrapper_showtimings {
    width: 100%;
    height: 100%;
}

.showtimings_wrapper_1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    display: flex;
}
/* showtimings_wrapper_1 => (1) Movie Poster */
.showtimings_wrapper_1_movieposter {
    width: 40%;
    height: 100%;
    background-color: yellow;
}
/* showtimings_wrapper_1 => (2) Movie Details */
.showtimings_wrapper_1_moviedetails {
    width: 60%;
    height: 100%;
    background-color: green;
}
.showtimings_wrapper_2 {
    width: 100%;
    height: 50%;
}

/* body (2) => Main => Wrapper => (5) seatselection.php */
.main_wrapper_seatselection {
    width: 100%;
    height: 100%;
}

.seatselection_wrapper_1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    display: flex;
}
/* showtimings_wrapper_1 => (1) Movie Poster */
.showtimings_wrapper_1_movieposter {
    width: 40%;
    height: 100%;
    
}
/* showtimings_wrapper_1 => (2) Movie Details */
.showtimings_wrapper_1_moviedetails {
    width: 60%;
    height: 100%;
    
}
.seatselection_wrapper_2 {
    width: 100%;
    height: 50%;
}
/* body (2) => Main => Wrapper => (3) cinemas.html */
.main_wrapper_cinemas {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* body (3) => Footer */
footer {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: 1px solid green;
    padding-top: 2%;
}


/* SPECIFIC CONFIGS FOR INDEX.HTML */
.homepage_banner {
    height: 50%;
    width: 100%;
}
/* #homepage_banner {
    height: auto;
    max-width: 100%;
    max-height: 100%;
} */
/* SPECIFIC CONFIGS SUCH AS UL'S AND IMAGES */
#homepage_banner {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.news_bar {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px 10px 10px;
    /* padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
}
#news_poster {
    height: 40%;
    width: 30%;
}
#news_posterWW {
    height: 40%;
    width: 30%;
}

/*  SPECIFIC CONFIGS FOR CINEMAS.HTML  */
#JE_cinema_location {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 350px;
    padding-top: 10px;
}
.cinema_card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* On mouse-over, add a deeper shadow */
.cinema_card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.cinema_card_text {
    padding: 2px 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
}

/* img{
    align-self: center;
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */